h1 {
    float: center;
}

.navBar {
    width: 100%;
    list-style-type: none;
    margin: 0%;
    padding: 0;
    background-color: blueviolet;
    position: fixed;
    top: 30px;
}

.Hero {
    overflow: hidden;
    margin-top: 90px;
    position: relative;
    padding: 50px 50px;
    width: 100%;
    background-color: khaki;
    border-bottom: 1px solid lightcoral;
    border-top: 1px lightcoral;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: azure;
    text-align: center;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
}

li a :hover:not(.active) {
    background-color: black;
}

.active {
    background-color: blueviolet;
}

.grid1 {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 20px;
    position: relative;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 150px 150px 150px;
    padding: 10px;
}

.item1,
.item2 {
    padding: 20px;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: aquamarine;
}

.item3,
.item4,
.item5 {
    padding: 20px;
    background-color: azure;
}

.item6 {
    width: 100%;
    padding: 20px;
    background-color: aqua;
    position: relative;
}

img {
    width: 90%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

.footer>ul {
    list-style-type: none;
    width: 100%;
    height: 10px;
    margin: 0;
    float: bottom;
    position: relative;
    padding: 40px;
    background-color: rgb(171, 111, 226);
}

.footer>li {
    float: center;
}

.link {
    padding: 0 0 20px 20px;
}